.form-wrapper {
    background: var(--background-color);
    border-radius: var(--form-border-radius);
    color: var(--form-text-color);
    max-width: calc(var(--base-font-size) * 34);
    margin: 0 auto;
    padding: calc(var(--base-font-size) * .5);
}

.form-header,
.divider-title {
    color: var(--heading-color);
    text-align: center;
    font-size: var(--base-font-size);
    line-height: calc(var(--base-font-size) * 1.15);
    margin-bottom: 5px;
}

.divider-title {
    white-space: nowrap;
    padding: 0 calc(var(--base-font-size) * .3);
    -ms-flex-item-align: center;
    align-self: center;
    line-height: var(--base-font-size);
    margin-bottom: 0;
}

.line {
    border-color: var(--heading-color);
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: center;
    align-self: center;
    height: 0;
    overflow: visible;
}

.askarray {
    height: auto;
    width: 100%;
    max-width: calc(var(--base-font-size) * 20);
    margin: var(--base-font-size) auto;
}

.askbutton {
    height: calc(var(--base-font-size) * 3.5);
    width: calc(100% / 3);
}

.askbutton__amt {
    background-color: var(--primary-color);
    border-radius: var(--input-border-radius);
    border: 2px solid transparent;
    color: var(--btn-text-color);
    cursor: pointer;
    -webkit-flex-basis: calc(var(--base-font-size) * 4.55);
    -ms-flex-preferred-size: calc(var(--base-font-size) * 4.55);
    flex-basis: calc(var(--base-font-size) * 4.55);
    font-family: var(--btn-font-family);
    font-style: var(--btn-font-style);
    font-weight: var(--btn-font-weight);
    font-size: calc(var(--base-font-size) * 1.4);
    height: calc(var(--base-font-size) * 2.5);
    text-align: center;
    -webkit-transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.askbutton:hover .askbutton__amt,
.askbutton__amt:hover,
.askbutton.selected .askbutton__amt {
    background-color: var(--btn-text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.ask-formGroup {
    height: calc(var(--base-font-size) * 3.5);
    margin-bottom: 0;
    position: relative;
    white-space: nowrap;
    width: calc(100% / 3);
}

.otherInput {
    height: calc(var(--base-font-size) * 2.5);
    width: 100%;
    -webkit-transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    border: 2px solid var(--primary-color);
    border-radius: var(--input-border-radius);
    color: var(--primary-color);
    font-size: calc(var(--base-font-size) * 1.4);
    text-align: center;
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    width: calc(var(--base-font-size) * 4.55);
}

.otherInputLabel {
    font-family: var(--label-font-family);
    font-size: calc(var(--base-font-size) * .7);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    color: var(--primary-color);
    bottom: calc(var(--base-font-size) * -.4);
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.monthlyGivingDay {
    align-items: center;
    font-size: calc(var(--base-font-size) * .8);
    height: calc(var(--base-font-size) * 2);
}

.ccDayOfMonth {
    opacity: 1;
    text-align: center;
}

.ccdate {
    font-size: calc(var(--base-font-size) * .7);
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    text-align: center;
    padding: calc(var(--base-font-size) * .2) calc(var(--base-font-size) * .3);
}

.nameAddressInfo {
    margin: var(--base-font-size) auto;
}

.formInput,
.formSelect {
    position: relative;
}

.formGroup,
.formGroupState,
.formGroupCountry,
.formGroupEmail,
.formGroupPhone {
    margin-bottom: calc(var(--base-font-size) * .5);
    margin-top: calc(var(--base-font-size) * .5);
    position: relative;
}

.formRow>div+div {
    margin-left: calc(var(--base-font-size) * .5);
}

.formGroup>label,
.formGroupState>label,
.formGroupCountry>label,
.formGroupEmail>label,
.formGroupPhone>label {
    color: var(--label-color);
    font-family: var(--label-font-family);
    font-size: calc(var(--base-font-size) * .7);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    position: absolute;
    opacity: 0;
    bottom: calc(100% - 5px);
    left: calc(var(--base-font-size) * .35);
    -webkit-transition: opacity 150ms ease-in-out;
    transition: opacity 150ms ease-in-out;
}

.formGroup:hover>label,
.formGroup:active>label,
.formGroup:focus>label,
.formGroupState:hover>label,
.formGroupState:active>label,
.formGroupState:focus>label,
.formGroupCountry:hover>label,
.formGroupCountry:active>label,
.formGroupCountry:focus>label,
.formGroupEmail:hover>label,
.formGroupEmail:active>label,
.formGroupEmail:focus>label,
.formGroupPhone:hover>label,
.formGroupPhone:active>label,
.formGroupPhone:focus>label {
    opacity: 1;
}

.error {
    top: unset;
    width: auto;
    bottom: calc(0% - 11px);
    font-family: var(--error-font-family);
    font-style: var(--error-font-style);
    font-weight: var(--error-font-weight);
    font-size: calc(var(--base-font-size) * .5);
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.formGroupState,
.formGroupCountry,
.formGroupEmail,
.formGroupPhone {
    max-width: calc(50% - 10px);
}

.formControl,
.select-product,
.additional-gift-input,
.total-product-gift {
    color: var(--input-text-color);
    font-size: var(--base-font-size);
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    height: calc(var(--base-font-size) * 2);
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    line-height: 1.42857143;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
}

.formControl::-webkit-input-placeholder,
.formControl::-moz-placeholder,
.formControl:-ms-input-placeholder,
.formControl::placeholder {
    color: var(--placeholder-color);
    font-size: var(--base-font-size);
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
}

.formControl,
.formInput,
.formSelect,
.ccdate,
.otherInput {
    appearance: none;
    border-radius: var(--input-border-radius);
}

.formControl:focus,
.formControl:active,
.formControl:hover,
.formInput:focus,
.formInput:active,
.formInput:hover,
.formSelect:focus,
.formSelect:active,
.formSelect:hover,
.ccdate:focus,
.ccdate:active,
.ccdate:hover,
.otherInput:focus,
.otherInput:active,
.otherInput:hover {
    border: 1px solid var(--hover-border-color);
    background-color: var(--hover-bg-color);
    outline: none;
}

.formControl:focus,
.formControl:active,
.formControl:hover {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--focus-box-shadow);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px var(--focus-box-shadow);
}

.otherInput:hover,
.otherInput:active,
.otherInput:focus {
    border: 2px solid var(--primary-color);
}

.formControl:disabled {
    background: var(--background-color);
}

.select-product,
.additional-gift-input,
.total-product-gift {
    flex-basis: calc(var(--base-font-size) * 2.5);
    margin-right: var(--base-font-size);
}

.submitButton {
    background: var(--primary-color);
    color: var(--btn-text-color);
    border: 2px solid transparent;
    border-radius: var(--input-border-radius);
    display: block;
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    font-size: calc(var(--base-font-size) * 1.1);
    padding: 0 20px;
    margin: var(--base-font-size) auto;
    height: calc(var(--base-font-size) * 2.3);
    -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
}

.submitButton:hover {
    background-color: var(--btn-text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.invalid {
    border-color: var(--error-color) !important;
}

.shipping-address__container {}

.shipping-address__info {
    margin-top: var(--base-font-size);
}

.products-display {
    margin: var(--base-font-size) 0;
}

.product-card,
.additional-amount,
.product-total {
    margin: 0 auto;
    padding: calc(var(--base-font-size) * .5);
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .5);
}

.product-card__body {}

.product-card__title {
    font-size: var(--base-font-size);
}

.product-card__description,
.additional-gift-label,
.total-product-gift-label {
    font-size: calc(var(--base-font-size) * .8);
}


/******** CUSTOM RADIO BUTTIONS ********/

.monthlyRadio {
    margin: var(--base-font-size) auto;
    max-width: calc(var(--base-font-size) * 15);
}

.radioGroup {
    padding: 0 5px;
    height: calc(var(--base-font-size) * 2);
    line-height: calc(var(--base-font-size) * 2);
}

.radioInput {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.radioInput+label {
    font-family: var(--label-font-family);
    font-size: calc(var(--base-font-size) * .7);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
}

.radioInput+label:before {
    content: '';
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #D8DDE6;
    display: inline-block;
    width: calc(var(--base-font-size) * 1.1);
    height: calc(var(--base-font-size) * 1.1);
    position: relative;
    margin-right: calc(var(--base-font-size) * .8);
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.radioInput:checked+label:before {
    background-color: var(--primary-color);
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
}

.radioInput:focus+label:before {
    outline: none;
    border-color: var(--primary-color);
}

.radioInput:disabled+label:before {
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
    border-color: #bfbfbf;
    background: #bfbfbf;
}

.radioInput+label:empty:before {
    margin-right: 0;
}


/***** END Radio Button STYLES *****/


/******* CHECKBOX STYLES ********/


/* Base for label styling */

.checkboxInput:not(:checked),
.checkboxInput:checked {
    position: absolute;
    left: -9999px;
}

.checkboxInput:not(:checked)+label,
.checkboxInput:checked+label {
    position: relative;
    padding-left: calc(var(--base-font-size) * 1.25);
    cursor: pointer;
}


/* checkbox aspect */

.checkboxInput:not(:checked)+label:before,
.checkboxInput:checked+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: calc(var(--base-font-size) * .7);
    height: calc(var(--base-font-size) * .7);
    border: 2px solid #ccc;
    background: #fff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, .1);
}


/* checked mark aspect */

.checkboxInput:not(:checked)+label:after,
.checkboxInput:checked+label:after {
    content: '\2714';
    position: absolute;
    top: 0;
    left: calc(var(--base-font-size) * .25);
    font-size: var(--base-font-size);
    line-height: 0.8;
    color: var(--primary-color);
    -webkit-transition: all .2s;
    transition: all .2s;
    font-family: 'proximanova-regular', Arial, sans-serif;
}


/* checked mark aspect changes */

.checkboxInput:not(:checked)+label:after {
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
}

.checkboxInput:checked+label:after {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}


/* disabled checkbox */

.checkboxInput:disabled:not(:checked)+label:before,
.checkboxInput:disabled:checked+label:before {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #bbb;
    background-color: #ddd;
}

.checkboxInput:disabled:checked+label:after {
    color: #999;
}

.checkboxInput:disabled+label {
    color: #aaa;
}


/* accessibility */

.checkboxInput:checked:focus+label:before,
.checkboxInput:not(:checked):focus+label:before {
    border: 2px dotted var(--primary-color);
}


/* hover style just for information */

.checkboxInput+label:hover:before {
    border: 2px solid var(--primary-color)!important;
}


/***** END CHECKBOX STYLES *****/