.form-wrapper {
    background: var(--form-bg-color);
    box-sizing: border-box;
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);
    color: var(--form-text-color);
    max-width: 680px;
    padding: var(--form-padding);
    width: 100%;
}