.error {
    box-sizing: border-box;
    position: absolute;
    color: var(--error-color);
    width: auto;
    left: 5px;
    bottom: calc(0% - 13px);
    font-family: var(--bold-font-family);
    font-style: var(--bold-font-style);
    font-weight: var(--bold-font-weight);
    font-size: calc(19px * .5);
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.error.amount-error {
    text-align: center;
}