.form-wrapper {
    background: var(--form-bg-color);
    box-sizing: border-box;
    border: var(--form-border-width) solid var(--form-border-color);
    border-radius: var(--form-border-radius);
    color: var(--form-text-color);
    max-width: 680px;
    padding: var(--form-padding);
    width: 100%;
}

.form-panel {
    background: var(--panel-bg-color);
    border: var(--panel-border-width) solid var(--panel-border-color);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
    padding: var(--panel-padding);
    width: 100%;
}

.form-panel+.form-panel {
    margin-top: var(--panel-space-between);
}

.fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    border: none;
    border-image: none;
    box-sizing: border-box;
    width: 100%;
}

h3.form-header,
.divider-title {
    box-sizing: border-box;
    color: var(--heading-color);
    text-align: center;
    font-size: 19px;
    font-family: var(--semibold-font-family);
    font-style: var(--semibold-font-style);
    font-weight: var(--semibold-font-weight);
    line-height: calc(19px * 1.15);
    margin-bottom: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
}

.form-header--small {
    box-sizing: border-box;
    font-size: calc(19px * .9);
    margin: 20px 0;
}

.form-header--small>strong {
    box-sizing: border-box;
    color: var(--primary-color);
}

.form-header__subheader {
    box-sizing: border-box;
    margin: 10px 0;
}

.cc-img {
    box-sizing: border-box;
    margin-left: 20px;
}

.divider-title {
    white-space: nowrap;
    padding: 0 calc(19px * .3);
    -ms-flex-item-align: center;
    align-self: center;
    line-height: 19px;
    margin-bottom: 0;
    box-sizing: border-box;
}

.line {
    background-color: var(--primary-color);
    width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-item-align: center;
    align-self: center;
    height: 2px;
    overflow: visible;
    margin: 20px 0;
    box-sizing: border-box;
}

.gift-choice {
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}

.askarray {
    position: relative;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
}

.askbutton {
    box-sizing: border-box;
    height: calc(19px * 3.5);
    width: calc(100% / 3);
}

.askbutton__amt {
    background-color: var(--primary-color);
    border-radius: var(--input-border-radius);
    border: 2px solid transparent;
    box-sizing: border-box;
    color: var(--btn-text-color);
    cursor: pointer;
    -webkit-flex-basis: calc(19px * 4.55);
    -ms-flex-preferred-size: calc(19px * 4.55);
    flex-basis: calc(19px * 4.55);
    font-family: var(--btn-font-family);
    font-style: var(--btn-font-style);
    font-weight: var(--btn-font-weight);
    font-size: calc(19px * 1.4);
    height: calc(19px * 2.5);
    text-align: center;
    -webkit-transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
}

.askbutton:hover .askbutton__amt,
.askbutton__amt:hover,
.askbutton.selected .askbutton__amt {
    background-color: var(--btn-text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.askarray__form-group {
    box-sizing: border-box;
    height: calc(19px * 3.5);
    margin-bottom: 0;
    position: relative;
    white-space: nowrap;
    width: calc(100% / 3);
}

.form-group__other-input {
    height: calc(19px * 2.5);
    width: 100%;
    -webkit-transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    transition: border-color 200ms ease-in-out, color 200ms ease-in-out, background-color 200ms ease-in-out;
    border: 2px solid var(--primary-color);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    color: var(--primary-color);
    font-size: calc(19px * 1.4);
    text-align: center;
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    width: calc(19px * 4.55);
}

.form-group__other-input--label {
    font-family: var(--label-font-family);
    font-size: calc(19px * .7);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
    color: var(--primary-color);
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    margin-top: calc(19px * 1.8);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.monthlyGivingDay {
    align-items: center;
    box-sizing: border-box;
    font-size: calc(19px * .8);
    height: calc(19px * 2);
}

h5.ccDayOfMonth {
    font-family: var(--base-font-family);
    font-size: calc(19px * .7);
    font-style: var(--base-font-style);
    font-weight: var(--base-font-weight);
    box-sizing: border-box;
    opacity: 1;
    text-align: center;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
    letter-spacing: unset;
    text-transform: unset;
    color: var(--form-text-color);
}

.ccdate {
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
    color: var(--form-text-color);
    font-size: calc(19px * .7);
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    text-align: center;
    height: unset;
    padding: calc(19px * .2) calc(19px * .3);
}

.name-address__info {
    box-sizing: border-box;
    margin: 19px auto;
    max-width: 100%;
}

.form-row {
    box-sizing: border-box;
    width: 100%;
}

.form-row>div+div {
    box-sizing: border-box;
    margin-left: calc(19px * .5);
}

.ship-to-yes-row {
    margin-bottom: 10px;
}

.error {
    box-sizing: border-box;
    position: absolute;
    color: var(--error-color);
    width: auto;
    left: 5px;
    bottom: calc(0% - 11px);
    font-family: var(--error-font-family);
    font-style: var(--error-font-style);
    font-weight: var(--error-font-weight);
    font-size: calc(19px * .5);
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.error.amount-error,
.error.submit-error {
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(0% - 20px);
}

.select-product,
.additional-amount__input,
.product-total__input {
    box-sizing: border-box;
    color: var(--input-text-color);
    font-size: 19px;
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    height: calc(19px * 2);
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    line-height: 1.42857143;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
}

.ccdate,
.form-group__other-input {
    appearance: none;
    border-radius: var(--input-border-radius);
    box-sizing: border-box;
}

.select-product:focus,
.select-product:active,
.select-product:hover,
.additional-amount__input:focus,
.additional-amount__input:active,
.additional-amount__input:hover,
.ccdate:focus,
.ccdate:active,
.ccdate:hover {
    border: 1px solid var(--hover-border-color);
    background-color: var(--hover-bg-color);
    box-sizing: border-box;
    outline: none;
}

.form-group__other-input:hover,
.form-group__other-input:active,
.form-group__other-input:focus {
    border: 2px solid var(--primary-color);
    background-color: var(--hover-bg-color);
    box-sizing: border-box;
    outline: none;
}

.select-product {
    box-sizing: border-box;
    width: calc(19px * 2.5);
    flex-basis: calc(19px * 2.5);
    margin-right: 19px;
}

.additional-amount__input,
.product-total__input {
    box-sizing: border-box;
    width: calc(19px * 5);
    flex-basis: calc(19px * 5);
    margin-right: 19px;
    text-align: right;
}

.form-row.submit-row {
    position: relative;
}

input[type="submit"].submit-button {
    background: var(--primary-color);
    box-sizing: border-box;
    color: var(--btn-text-color);
    display: block;
    border: 2px solid transparent;
    border-radius: var(--input-border-radius);
    display: block;
    font-family: var(--input-font-family);
    font-style: var(--input-font-style);
    font-weight: var(--input-font-weight);
    font-size: calc(19px * 1.1);
    padding: 0 20px;
    margin: 19px auto;
    width: 300px;
    height: calc(19px * 2.3);
    -webkit-transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
    transition: background-color 200ms ease-in-out, color 200ms ease-in-out, border-color 200ms ease-in-out;
}

input[type="submit"].submit-button:hover {
    background-color: var(--btn-text-color);
    color: var(--primary-color);
    border-color: var(--primary-color);
}

input[type="submit"].submit-button>.error {
    left: 50%;
    transform: translateX(-50%);
    bottom: unset;
    margin-top: 10px;
}

.invalid {
    box-sizing: border-box;
    border-color: var(--error-color) !important;
}

.goBackBtn {
    box-sizing: border-box;
    margin: 20px auto;
    text-align: center;
    width: 100%;
    max-width: 310px;
}

.goBackBtn>span {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
}

.goBackBtn>span>a {
    box-sizing: border-box;
    color: var(--link-color);
    cursor: pointer;
    transition: color 200ms ease-in-out;
}

.goBackBtn>span>a:hover {
    color: var(--link-hover-color);
}

.shipping-address__container {
    box-sizing: border-box;
    margin-top: 20px;
}

.shipping-address__info {
    box-sizing: border-box;
    margin-top: 19px;
    max-width: 100%;
}

.products-display {
    box-sizing: border-box;
    margin: 19px 0;
}

.product-card,
.additional-amount,
.product-total {
    box-sizing: border-box;
    margin: 0 auto;
    padding: calc(19px * .5);
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .5);
}

.additional-amount {
    position: relative;
}

.product-card__body {
    box-sizing: border-box;
}

.product-card__title {
    box-sizing: border-box;
    font-size: 19px;
}

.product-card__description,
.additional-amount__input--label,
.product-total__input--label {
    box-sizing: border-box;
    font-size: calc(19px * .8);
}

.monthly-radio {
    box-sizing: border-box;
    margin: 19px auto;
    max-width: calc(19px * 15);
}

@media screen and (max-width:613px) {
    .name-row {
        flex-wrap: wrap;
    }
    .name-row>div:nth-child(odd) {
        margin-left: 0;
    }
}

@media screen and (max-width: 500px) {
    .email-phone-row {
        flex-wrap: wrap;
    }
    .email-phone-row>div+div {
        margin-left: 0;
    }
}

@media screen and (max-width: 414px) {
    .city-state-row {
        flex-wrap: wrap;
    }
    .city-state-row>div+div {
        margin-left: 0;
    }
}

@media screen and (max-width: 375px) {
    .name-row>div+div {
        margin-left: 0;
    }
}

@media screen and (max-width: 365px) {
    .zip-country-row {
        flex-wrap: wrap;
    }
    .zip-country-row>div+div {
        margin-left: 0;
    }
    .submit-button {
        max-width: 270px;
        text-align: center;
    }
}