.hidden {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

.img-responsive {
	box-sizing: border-box;
	max-width: 100%;
	display: block;
}

h3.funds__header {
	box-sizing: border-box;
	color: var(--heading-color);
	text-align: center;
	font-size: calc(19px * 0.8);
	font-family: var(--semibold-font-family);
	font-style: var(--semibold-font-style);
	font-weight: var(--semibold-font-weight);
	line-height: calc(19px * 1.15);
	margin-bottom: 5px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-before: 0;
	-webkit-padding-start: 0;
	-webkit-padding-after: 0;
	text-transform: uppercase;
}

.select-fund {
	box-sizing: border-box;
	color: var(--input-text-color);
	font-size: calc(19px * 0.8);
	display: block;
	width: 100%;
	margin-top: 5px;
	padding: 6px;
	background-color: var(--input-bg-color);
	border: 1px solid var(--input-border-color);
	border-radius: var(--input-border-radius);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	position: relative;
	height: 90px;
	z-index: 0;
}

.select-fund__dropdown {
	background: #fff;
	border: 1px solid var(--input-border-color);
	border-radius: var(--input-border-radius);
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s,
		-webkit-box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	height: 90px;
	width: 100%;
	z-index: 5;
	margin-top: -90px;
}

.select-fund__dropdown::after {
	content: "";
	display: block;
	box-sizing: border-box;
}

.fund-card,
.fund-card__dropdown {
	border: 3px solid var(--input-border-color);
	border-radius: var(--input-border-radius);
	box-sizing: border-box;
	transition: border-color 200ms ease-in-out;
	cursor: pointer;
	position: absolute;
	display: none;
	padding: 5px 10px;
	height: 90px;
	width: 100%;
	z-index: 0;
}

.fund-card__dropdown {
	box-sizing: border-box;
	position: relative;
	display: flex;
	z-index: 5;
	background-color: var(--input-bg-color);
}

.fund-card:hover,
.fund-card__dropdown:hover {
	border-color: var(--primary-color);
}

.fund-card.selected {
	top: 0;
	left: 0;
	display: flex;
	z-index: 5;
}

.funds-display {
	box-sizing: border-box;
	margin: 19px 0;
}

.dropDownArrow {
	box-sizing: border-box;
	cursor: pointer;
	font-size: 19px;
	padding: 10px;
}

.fund-card__body--title {
	box-sizing: border-box;
	margin: 5px 0;
	font-size: calc(19px * 0.8);
	font-family: var(--semibold-font-family);
	font-style: var(--semibold-font-style);
	font-weight: var(--semibold-font-weight);
}

.fund-card__image {
	box-sizing: border-box;
	height: 80px;
}

.fund-card__body {
	box-sizing: border-box;
	width: 100%;
}

.fund-card__body--description {
	box-sizing: border-box;
	font-size: calc(19px * 0.6);
	max-width: 100%;
}

@media screen and (max-width: 550px) {
	.select-fund,
	.select-fund__dropdown,
	.fund-card,
	.fund-card__dropdown {
		height: 130px;
	}
	.select-fund__dropdown {
		margin-top: -130px;
	}
}
