* {
    box-sizing: border-box;
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
    color: var(--base-font-color);
}

.caps {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.img-circle {
    border-radius: 50%;
}

.hoverable {
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    margin: 0;
    padding: 0;
}

em,
.italic {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
}

strong>em,
em>strong,
.bold.italic {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
}

strong,
.bold {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
}

.semi-bold {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
}

em.semi-bold .semi-bold.italic {
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    font-style: var(--base-font-style);
}