.caps {
    box-sizing: border-box;
    text-transform: uppercase;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.center {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.img-responsive {
    box-sizing: border-box;
    max-width: 100%;
    display: block;
}

.img-circle {
    box-sizing: border-box;
    border-radius: 50%;
}

.hoverable {
    transition: background-color 200ms ease-in-out, border-color 200ms ease-in-out, color 200ms ease-in-out;
}

.italic {
    box-sizing: border-box;
    font-family: var(--italic-font-family);
    font-weight: var(--italic-font-weight);
    font-style: var(--italic-font-style);
}

.bold.italic {
    box-sizing: border-box;
    font-family: var(--bold-italic-font-family);
    font-weight: var(--bold-italic-font-weight);
    font-style: var(--bold-italic-font-style);
}

.bold {
    box-sizing: border-box;
    font-family: var(--bold-font-family);
    font-weight: var(--bold-font-weight);
    font-style: var(--bold-font-style);
}

.semi-bold {
    box-sizing: border-box;
    font-family: var(--semibold-font-family);
    font-weight: var(--semibold-font-weight);
    font-style: var(--semibold-font-style);
}

.semi-bold.italic {
    box-sizing: border-box;
    font-family: var(--semibold-italic-font-family);
    font-weight: var(--semibold-italic-font-weight);
    font-style: var(--semibold-italic-font-style);
}

.banner {
    width: 100%;
    padding: 20px;
    text-align: center;
    background: lightgoldenrodyellow;
    color: maroon;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: normal;
    border: 1px dotted #000;
    margin: 30px 0;
}