.form-panel {
    background: var(--panel-bg-color);
    border: var(--panel-border-width) solid var(--panel-border-color);
    border-radius: var(--panel-border-radius);
    box-sizing: border-box;
    padding: var(--panel-padding);
    width: 100%;
}

.form-panel+.form-panel {
    margin-top: var(--panel-space-between);
}

.fieldset {
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
    margin: 0;
    padding: 0;
    min-width: 100%;
    border: none;
    border-image: none;
    box-sizing: border-box;
    width: 100%;
}

.name-address__info {
    box-sizing: border-box;
    margin: 19px auto;
    max-width: 100%;
}

h3.form-header,
.divider-title {
    box-sizing: border-box;
    color: var(--heading-color);
    text-align: center;
    font-size: 19px;
    font-family: var(--semibold-font-family);
    font-style: var(--semibold-font-style);
    font-weight: var(--semibold-font-weight);
    line-height: calc(19px * 1.15);
    margin-bottom: 5px;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-padding-before: 0;
    -webkit-padding-start: 0;
    -webkit-padding-after: 0;
}

.shipping-address__container {
    box-sizing: border-box;
    margin-top: 20px;
}

.gift-choice {
    margin-bottom: 20px;
    position: relative;
    box-sizing: border-box;
}

.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.error {
    box-sizing: border-box;
    position: absolute;
    color: var(--error-color);
    width: auto;
    left: 5px;
    bottom: calc(0% - 11px);
    font-family: var(--bold-font-family);
    font-style: var(--bold-font-style);
    font-weight: var(--bold-font-weight);
    font-size: calc(19px * .5);
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.error.submit-error {
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(0% - 20px);
}