.hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.error {
    box-sizing: border-box;
    position: absolute;
    color: var(--error-color);
    width: auto;
    left: 5px;
    bottom: calc(0% - 11px);
    font-family: var(--bold-font-family);
    font-style: var(--bold-font-style);
    font-weight: var(--bold-font-weight);
    font-size: calc(19px * .5);
    opacity: 1;
    overflow: hidden;
    max-width: 100%;
    white-space: nowrap;
}

.select-product,
.additional-amount__input,
.product-total__input {
    box-sizing: border-box;
    color: var(--input-text-color);
    font-size: 19px;
    font-family: var(--semibold-font-family);
    font-style: var(--semibold-font-style);
    font-weight: var(--semibold-font-weight);
    height: calc(19px * 2);
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 6px;
    line-height: 1.42857143;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    border-radius: var(--input-border-radius);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    position: relative;
}

.select-product:focus,
.select-product:active,
.select-product:hover,
.additional-amount__input:focus,
.additional-amount__input:active,
.additional-amount__input:hover {
    border: 1px solid var(--hover-border-color);
    background-color: var(--hover-bg-color);
    box-sizing: border-box;
    outline: none;
}

.select-product {
    box-sizing: border-box;
    width: calc(19px * 3.5);
    /* flex-basis: calc(19px * 3.5); */
    text-align: center;
    margin-right: 19px;
}

label.select-product__label {
    margin-right: 19px;
    align-self: center;
    color: inherit;
    font-weight: normal;
    margin-bottom: 0;
    box-sizing: border-box;
}

.additional-amount__input,
.product-total__input {
    box-sizing: border-box;
    width: 95px;
    max-width: calc(19px * 5);
    flex: 0 0 calc(19px * 5);
    margin-right: 19px;
    text-align: right;
}

.products-display {
    box-sizing: border-box;
    margin: 19px 0;
}

.product-card,
.additional-amount,
.product-total {
    box-sizing: border-box;
    margin: 0 auto;
    padding: calc(19px * .5);
    border: 1px solid #fff;
    background: rgba(255, 255, 255, .5);
}

.additional-amount {
    position: relative;
}

.product-card__body {
    box-sizing: border-box;
}

.product-card__title {
    box-sizing: border-box;
    font-size: 19px;
}

.product-card__description,
.additional-amount__input--label {
    box-sizing: border-box;
    font-size: calc(19px * .8);
}

.product-total__input--label {
    box-sizing: border-box;
    font-size: calc(19px * .8);
    height: calc(19px * 2);
    line-height: calc(19px * 2);
    margin-right: 5px;
    margin-top: 5px;
    font-family: var(--semibold-font-family);
    font-style: var(--semibold-font-style);
    font-weight: var(--semibold-font-weight);
}