/******** CUSTOM RADIO BUTTIONS ********/

.radio-group {
    padding: 0 5px;
    height: calc(var(--base-font-size) * 2);
    line-height: calc(var(--base-font-size) * 2);
}

.radio-group__input {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.radio-group__input+label {
    font-family: var(--label-font-family);
    font-size: calc(var(--base-font-size) * .7);
    font-style: var(--label-font-style);
    font-weight: var(--label-font-weight);
}

.radio-group__input+label:before {
    content: '';
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #D8DDE6;
    display: inline-block;
    width: calc(var(--base-font-size) * 1.1);
    height: calc(var(--base-font-size) * 1.1);
    position: relative;
    margin-right: calc(var(--base-font-size) * .8);
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

.radio-group__input:checked+label:before {
    background-color: var(--primary-color);
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
}

.radio-group__input:focus+label:before {
    outline: none;
    border-color: var(--primary-color);
}

.radio-group__input:disabled+label:before {
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
    border-color: #bfbfbf;
    background: #bfbfbf;
}

.radio-group__input+label:empty:before {
    margin-right: 0;
}


/***** END Radio Button STYLES *****/