:root {
    --base-font-color: #333;
    --base-font-size: 19px;
    --base-font-family: proxima-nova, sans-serif;
    --base-font-style: normal;
    --base-font-weight: 400;
    --bold-font-family: proxima-nova, sans-serif;
    --bold-font-style: normal;
    --bold-font-weight: 700;
    --bold-italic-font-family: proxima-nova, sans-serif;
    --bold-italic-font-style: italic;
    --bold-italic-font-weight: 700;
    --btn-text-color: #fff;
    --btn-font-family: proxima-nova, sans-serif;
    --btn-font-style: normal;
    --btn-font-weight: 600;
    --error-color: crimson;
    --error-font-family: proxima-nova, sans-serif;
    --error-font-style: normal;
    --error-font-weight: 700;
    --focus-box-shadow: rgba(102, 175, 233, .6);
    --form-bg-color: #fff;
    --form-border-color: transparent;
    --form-border-radius: 0;
    --form-border-width: 2px;
    --form-padding: 0;
    --form-text-color: #091d44;
    --heading-color: #313131;
    --hover-bg-color: #fff;
    --hover-border-color: #1775BC;
    --italic-font-family: proxima-nova, sans-serif;
    --italic-font-style: italic;
    --italic-font-weight: 400;
    --input-bg-color: #fff;
    --input-border-color: #ccc;
    --input-border-radius: 4px;
    --input-font-family: proxima-nova, sans-serif;
    --input-font-style: normal;
    --input-font-weight: 600;
    --input-text-color: #091d44;
    --label-color: #105fa5;
    --label-font-family: proxima-nova, sans-serif;
    --label-font-style: normal;
    --label-font-weight: 600;
    --link-color: #1775BC;
    --link-hover-color: #091d44;
    --panel-bg-color: #f5f5f5;
    --panel-border-color: #888;
    --panel-border-radius: 20px;
    --panel-border-width: 2px;
    --panel-padding: 10px;
    --panel-space-between: 30px;
    --placeholder-color: #7F8C9A;
    --primary-color: #1775BC;
    --semibold-font-family: proxima-nova, sans-serif;
    --semibold-font-style: normal;
    --semibold-font-weight: 600;
    --semibold-italic_font-family: proxima-nova, sans-serif;
    --semibold-italic_font-style: italic;
    --semibold-italic_font-weight: 600;
}