:root {
    --base-font-size: 19px;
    --form-font-family: proxima-nova, sans-serif;
    --form-font-style: normal;
    --form-font-weight: 400;
    --bold-font-family: proxima-nova, sans-serif;
    --bold-font-style: normal;
    --bold-font-weight: 700;
    --bold-italic-font-family: proxima-nova, sans-serif;
    --bold-italic-font-style: italic;
    --bold-italic-font-weight: 700;
    --btn-text-color: #fff;
    --btn-border-radius: 0;
    --error-color: crimson;
    --focus-box-shadow: rgba(102, 175, 233, .6);
    --form-bg-color: #fff;
    --form-border-color: transparent;
    --form-border-radius: 0;
    --form-border-width: 2px;
    --form-max-width: 680px;
    --form-padding: 0;
    --form-text-color: #091d44;
    --heading-color: #313131;
    --hover-bg-color: #fff;
    --hover-border-color: #1775BC;
    --italic-font-family: proxima-nova, sans-serif;
    --italic-font-style: italic;
    --italic-font-weight: 400;
    --input-bg-color: #fff;
    --input-border-color: #ccc;
    --input-border-radius: 4px;
    --input-text-color: #091d44;
    --label-color: #105fa5;
    --link-color: #1775BC;
    --link-hover-color: #091d44;
    --panel-bg-color: #f5f5f5;
    --panel-border-color: #888;
    --panel-border-radius: 20px;
    --panel-border-width: 2px;
    --panel-padding: 10px;
    --panel-space-between: 30px;
    --placeholder-color: #7F8C9A;
    --primary-color: #1775BC;
    --semibold-font-family: proxima-nova, sans-serif;
    --semibold-font-style: normal;
    --semibold-font-weight: 600;
    --semibold-italic-font-family: proxima-nova, sans-serif;
    --semibold-italic-font-style: italic;
    --semibold-italic-font-weight: 600;
    --submit-btn-bg-color: #262626;
    --submit-btn-border-color: #262626;
    --submit-btn-txt-color: #fff;
    --submit-btn-hover-txt-color: #262626;
    --submit-btn-hover-bg-color: #fff;
    --submit-btn-hover-border-color: #262626;
    --amt-tab-bg-color: transparent;
    --amt-tab-border-radius: 4px;
    --amt-tab-hover-bg-color: #73bf43;
    --amt-tab-text-color: #091d44;
    --tab-bg-color: transparent;
    --tab-border-color: #73bf43;
    --tab-border-radius: 4px;
    --tab-hover-text-color: #fff;
    --tab-hover-bg-color: #73bf43;
    --tab-hover-border-color:#091d44;
    --tab-text-color: #091d44;
}