/******** CUSTOM RADIO BUTTIONS ********/

.monthly-radio {
    margin: 20px auto;
    max-width: 300px;
}

.radio-group {
    padding: 0 5px;
    height: 40px;
    line-height: 40px;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

input[type="radio"]+label:before {
    content: '';
    background: #ffffff;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    border: 1px solid #D8DDE6;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    position: relative;
    margin-right: 1em;
    vertical-align: middle;
    cursor: pointer;
    text-align: center;
    -webkit-transition: all 200ms ease;
    transition: all 200ms ease;
}

input[type="radio"]:checked+label:before {
    background-color: var(--primary-color);
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
}

input[type="radio"]:focus+label:before {
    outline: none;
    border-color: var(--primary-color);
}

input[type="radio"]:disabled+label:before {
    -webkit-box-shadow: inset 0 0 0 4px #ffffff;
    box-shadow: inset 0 0 0 4px #ffffff;
    border-color: #bfbfbf;
    background: #bfbfbf;
}

input[type="radio"]+label:empty:before {
    margin-right: 0;
}


/***** END Radio Button STYLES *****/